html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root{
  width: 100%;
  flex: 1;
}


.fade-center-animation {
  animation: fade-in-center 450ms forwards;
}

@keyframes fade-in-center {
  0%{scale: 0.4; opacity: 0; transform: translateY(50%);}
  100%{scale: 1; opacity: 1; transform: translateY(0);}
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}